.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}
.container div{
    border: 2px solid black;
    display: grid;
    background-color: coral;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    justify-content: center;
}
.box{
    display: grid;
    justify-content: center;
}
.m{
    grid-column-start:1;
    grid-column-end: 4;
}
.f{
    grid-column-start: 1;
    grid-column-end: -1;
}
.lsb{
    /* grid-template-rows: 10vh 80vh 10vh; */
    display: grid;
    justify-content: center;
}